body {
    color:white;
    background:#000000;
    margin: 0px;
    font-family: "Permanent Marker", cursive;
}

header{
    border-bottom: solid 2px rgb(42,122,228);
    padding: 20px;
    font-size: 32px;
    color:rgb(42,122,228);
}

section{
    background: rgb(64 103 138);
    padding-bottom: 80px;
    padding-top: 80px;
}
